---
Checks:          '*,
-clang-analyzer-deadcode.DeadStores,
-clang-analyzer-alpha.*,
-readability-static-accessed-through-instance,
-readability-braces-around-statements,
-readability-implicit-bool-cast,
-readability-implicit-bool-conversion,
-readability-else-after-return,
-readability-named-parameter,
-llvm-include-order,
-llvm-header-guard,
-cppcoreguidelines-pro-type-union-access,
-fuchsia-*,
-google-runtime-references,
-google-build-using-namespace
'
WarningsAsErrors: '*'
HeaderFilterRegex: 'catch.hpp'
FormatStyle: 'file'
CheckOptions:
  - key:             readability-function-size.LineThreshold
    value:           '200'
  - key:             readability-function-size.ParameterThreshold
    value:           '16'
  - key:             readability-function-size.StatementThreshold
    value:           '400'
  - key:             misc-non-private-member-variables-in-classes.IgnorePublicMemberVariables
    value:           '1'
  - key:             cppcoreguidelines-avoid-magic-numbers.IgnoredIntegerValues
    value: '1;2;3;4;8;'
...
