---
BasedOnStyle: LLVM
AllowShortBlocksOnASingleLine: 'true'
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: WebKit
ColumnLimit: '80'
DerivePointerAlignment: 'false'
PointerAlignment: Left
...
